@page {
    width: 40mm;
    height: 60mm;
    padding: 0mm;
}
table, tr, td
{
    margin: 0;
    padding: 0;
    border: 0mm solid black;
    width:100%;

}
td {
    text-align: center;
    vertical-align: middle;
    width: 16mm;
    margin: auto;
}
hr {
    border: 0.25mm dashed black;
    padding: 0;
    margin-top: 1mm;
    margin-bottom: 1mm;
}

#descriptions
{
    position: absolute;
    bottom: 2mm;
    left:0;
    right:0;
}
#drawings
{
    position: absolute;
    top:0;
    left:0;
    right:0;
    margin-top:2mm;
    margin-right:1mm;
    margin-left: 1mm;
    margin-bottom: 2mm;
    padding: 1mm;
    border: 0mm solid gray;
    background-color: white;
    border-radius: 1mm;
    border-bottom-left-radius: 0mm;
    border-bottom-right-radius: 0mm;
}
#parent
{
    position: relative;
    height: 60mm;
    width: 40mm;
    margin: 0mm;
    padding: 0mm;
}
#screw_image {
    height: 20mm;
    width: 16mm;
    padding: 0;
    margin: auto;
    display: block;
}
#drive_image {
    padding: 0;
    margin: auto;
    width: 12mm;
    height: 12mm;
    display: block;
}
p {
    padding: 0;
    margin: 0;
    display: inline-block;
}

.drive_info {
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    align: center;
    margin: 0mm;
    padding: 0mm;
    line-height: 6mm;
    font-size: 6mm;
}
.main {
    margin-top: -2mm;
    margin-bottom: -1mm;
    margin-left: 2mm;
    margin-right: 2mm;
}
.description {
    margin-top: 1mm;
    margin-bottom: 1mm;
    margin-left: 2mm;
    margin-right: 2mm;
    line-height: 3.5mm;
}
#size {
    font-family: "Barlow";
    font-weight: 500;
    text-align: left;
    font-size: 9mm;
}
#material {
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    text-align: left;
    size: 4mm;
}
#coating {
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    text-align: left;
    size: 4mm;
}
#strength_class {
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    text-align: left;
    size: 4mm;
}
#norm {
    font-family: "Barlow Semi Condensed";
    font-weight: 500;
    text-align: right;
    size: 4mm;
}

